# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=True

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY="<MUST BE CHANGED TO THE CORRECT VALUE>"

# ALLOWED_HOSTS specifies names by which this application can be
# called in "Host" header. This is protection against certain types
# of attacks and must be set for the this application to work.
# See: https://docs.djangoproject.com/en/3.1/ref/settings/#allowed-hosts
#ALLOWED_HOSTS="mysite.helsinki"

# These correspond to the OIDC_API_TOKEN_AUTH settings in django-helusers.
# See django-helusers's documentation for their meaning.
OIDC_AUDIENCE=""
OIDC_API_SCOPE_PREFIX=""
OIDC_API_AUTHORIZATION_FIELD=""
OIDC_REQUIRE_API_SCOPE_FOR_AUTHENTICATION=False
OIDC_ISSUER=""

# These are named the same as the settings in django-helusers.
# See django-helusers's documentation for their meaning.
SOCIAL_AUTH_TUNNISTAMO_KEY=""
SOCIAL_AUTH_TUNNISTAMO_SECRET=""
SOCIAL_AUTH_TUNNISTAMO_OIDC_ENDPOINT=""

# Helsinki GDPR API
GDPR_API_QUERY_SCOPE=""
GDPR_API_DELETE_SCOPE=""

# Enable back-channel log out
HELUSERS_BACK_CHANNEL_LOGOUT_ENABLED=True
